:root {
   --heading-font: "Geo", sans-serif;
   --body-font: "Roboto Condensed", sans-serif;
   --background-color1: #FFFFFF;
   --background-color2: #F5F5F5;
   --primary-color1: #C91A09;
   --primary-color2: #FAA49E;
   --secondary-color1: #F2CD37;
   --secondary-color2: #F9E79F;
   --tertiary-color1: #0055BF;
   --tertiary-color2: #85BCFF;
   --neutral1: #EDEDED;
   --neutral2: #DADADA;
   --neutral3: #2B2B2B;
}

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: var(--body-font);
   color: var(--neutral3);
}

html, body {
    height: 100%;
    min-height: 100vh;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: var(--background-color2);

    & .nav ul {
        display: flex;
        flex-direction: column; 
    }

    & .nav li {
        list-style: none;
        border: 1px solid;
        padding: 2px 5px;
        margin: 2px;
        text-align: center;
        background-color: var(--background-color1);

        &:hover {
            transform: scale(1.05);
        }
    }

    & .nav a {
        text-decoration: none;
        color: var(--tertiary-color1);
        font-family: var(--heading-font);
        font-weight: 900;
        font-size: 1.1rem;

        &:hover {
            color: var(--primary-color1);
        }
    }

}

main {
    flex: 1;
    padding: 1rem 2rem;
    text-align: center;
    background-color: var(--secondary-color2);
    border: 1px solid;

    & .intro h1 {
        font-family: var(--heading-font);
        font-weight: 900;
        font-size: 2.3rem;
        padding-bottom: 1rem;
        color: var(--tertiary-color1);
    }

    & .intro p {
        padding: .8rem 2rem;
    }

    & .intro button {
        margin-bottom: 1rem;
        padding: 10px;
        font-family: var(--heading-font);
        font-weight: 900;
        font-size: 1.5rem;
        background-color: var(--background-color1);
        color: var(--primary-color1);
        cursor: pointer;

        &:hover {
            transform: scale(1.05);
            box-shadow: 0 0 8px 5px var(--secondary-color1);
        }
    }

    & .border {
        border-top: 1px solid;
    }

    & label {
        font-family: var(--heading-font);
        font-size: 1.5rem;
        font-weight: 600;
        color: var(--tertiary-color1);
    }

    & select {
        padding: 5px;
        margin-bottom: 1rem;
        font-size: 1rem;
        border: 2px solid var(--secondary-color1);
        cursor: pointer;

        &:focus {
            outline: none;
            border-color: var(--secondary-color1);
        }
    }

    & .section-divider {
        width: 100vw;
        margin-left: calc(50% - 50vw);
        border-bottom: 1px solid var(--neutral3);
        margin-bottom: 1rem;
    }
}

.set-list, .owned-list, .wishlist-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    justify-items: center;
}

.set-card, .owned-card, .wishlist-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--background-color1);
    border: 2px solid var(--secondary-color1);
    margin: 15px 0;
    padding: 15px;
    width: 350px;

    & img {
        width: 100%;
        height: 160px;
        object-fit: contain;
        display: block;
        margin: 0 auto;
        padding: 5px;
    }

    & button {
        border: 3px solid var(--tertiary-color1);
        padding: 10px;
        margin: 0;
        background-color: var(--background-color2);
        cursor: pointer;
        font-weight: 900;
        font-family: var(--heading-font);
        line-height: 20px;

        &:hover {
            font-size: 1rem;
            color: var(--tertiary-color1);
            background-color: var(--neutral2);
        }
    }

    & h3 {
        padding-bottom: 10px;
    }
}

.buttonRow {
    display: flex;
    gap: 10px;
    
    & button {
        flex: 1;
        height: 48px;
        padding: 0 10px;
        align-items: center;
        justify-content: center;
        text-align: center;
        line-height: 1.2;
    }
}

dialog {
    padding: 0;
    border: none;
    position: fixed;
    inset: 0;
    margin: auto;
    background: transparent;
}

dialog img {
    max-width: none;
    height: auto;
    display: block;
    padding: 5px;
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.5);
}


.modal {
    display: none;
}

.modal.open {
    display: block;
}

.detailWrapper, .surpriseWrapper {
    width: 500px;
    max-width: 90vw;
    max-height: 80vh;
    overflow: auto;
    background-color: var(--background-color1);
    border: 3px solid var(--tertiary-color1);
    padding: 20px;
    text-align: center;

    & img {
        width: 100%;
        height: auto;
        object-fit: contain;
        display: block;
        margin: 0 auto 1rem auto;
    }

    & button {
        width: 44px;
        height: 44px;
        font-size: 1.8rem;
        font-weight: 700;
        padding-bottom: 4px;
        color: var(--primary-color1);
        background-color: var(--background-color2);
        cursor: pointer;

        &:hover {
            background-color: var(--primary-color1);
            color: var(--primary-color2);
        }
    }
}

.detailWrapper {
    animation: flipOpen 0.6s ease;
}

@keyframes flipOpen {
    from {
        transform: rotateY(90deg);
        opacity: 0;
    }

    to {
        transform: rotateY(0deg);
        opacity: 1;
    }
}

.surpriseWrapper {
    animation: clickIn 0.3s ease-out;
}

@keyframes clickIn {
    0% { transform: scale(0.7) rotate(-3deg); opacity: 0; }
    60% { transform: scale(1.05) rotate(1deg); opacity: 1; }
    100% { transform: scale(1) rotate(0deg);}
}

footer {
    background-color: var(--background-color2);
    padding: 20px;
    text-align: center;
    font-size: .75rem;
}

@media (min-width: 550px) {

    main .intro p {
        padding: 0 3rem 1rem;
    }

    .set-list, .owned-list, .wishlist-list {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }

    .set-card, .owned-card, .wishlist-card {
        width: 100%;
        max-width: 350px;
    }
}

@media (min-width: 900px) {
    
    header {
        padding: 15px;

        & .nav ul {
            flex-direction: row;
        }

        & .nav li {
            margin: 10px;
            padding: 8px 10px;
        }

        & .nav a {
            font-size: 1.4rem;
            margin: 10px;
        }
    }

    main .intro p {
        padding: 0 8rem 1rem;
    }

    .set-list, .owned-list, .wishlist-list {
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
    }

    .set-card button {
        font-size: .9rem;
    }

    .footer-section {
        display: flex;
        justify-content: space-between;
        gap: 5rem;

        & > div {
            flex: 1;
        }
    }
}